.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
