.flyout {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: max-content;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 15px var(--color-shadow);
  transition: 0.3s ease-in-out;
  transform: translate(-50%, 120%);
  background: url('/falcon.jpg');
}

.flyout.show {
  transform: translate(-50%, -100px);
}

.btn-wrapper {
  display: flex;
  gap: 15px;
}

a {
  color: black;
}
