/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --transparent-dark: rgb(9, 0, 51, 0.6);
}
  */

  * {
    margin: 0;
    padding: 0;
  }

  :root {
    font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-dark: #090033;
    --transparent-dark: rgba(41, 54, 40, 0.7);
    --transparent-dark-hover: rgba(41, 54, 40);
    --border-shadow: rgba(183, 215, 221, 0.5);
    --main-light: #dff8fa;
    --accent-blue: #6a71ec;
    --links: #646cff;
    --links-hover: #a0a5ff;
    --main-buttons: #646cff;
    --main-buttons-hover: #a0a5ff;
    --accent-red: #ff0000;
    font-size: 10px;
  }

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('./assets/star-wars.jpg');

  background-color: var(--transparent-dark);
  background-blend-mode: darken;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
